.main{
    
}

.topbar{
    background: white;
}

.header{
    padding-left: 20px;
}

.signup-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/indianfood.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.signup{
    width: 30%;
    padding: 20px 40px;
    color: white;    
}
